# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/
Backend/__pycache__/
Backend/*.pyc
Backend/*.pyo
Backend/*.pyd
Backend/*.swp
Backend/*.egg
Backend/*.egg-info/
Backend/dist/
Backend/build/

# Virtual environment
Backend/.venv/
Backend/env/
Backend/venv/
.venv/
env/
venv/

# Poetry
.poetry/
poetry.lock

# PyCharm
.idea/

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
/Backend/.env
/Backend/.env.test
