# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/
backend/__pycache__/
Backend/*.pyc
Backend/*.pyo
Backend/*.pyd
Backend/*.swp
Backend/*.egg
Backend/*.egg-info/
backend/dist/
backend/build/

# Virtual environment
backend/.venv/
backend/env/
backend/venv/
.venv/
env/
venv/

# Poetry
.poetry/
poetry.lock

# PyCharm
.idea/

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
/backend/.env
/backend/.env.test
